// Override default variables before the import
$primary: #f0dcca;
$secondary: #6f9283;
$tertiary: #f4a424;
$warning: #696d7d;

#root {
  min-height: 100vh;
  min-width: 100vw;
}

input {
  outline-color: white;
}

// Import Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";
